nav {
    background-color: #31E1F7;
}

a.menuAna {
    color: #8810b1;
}

a:link {
    color: #8810b1;
}

#foto {
    width: 80%;
    margin-top: 40px;
}

.margin {
    padding: 10px;
}

.scrollMenu {
    scroll-margin-top: 40px;
}

.bcgColor {
    background-color: #DFF5FF;
}

.topBcgSobre {
    background-color: #31E1F7;
    width: 7%;
}

.topBcgFormacao {
    background-color: #31E1F7;
    width: 22%;
}

.topBcgExperiencia {
    background-color: #31E1F7;
    width: 24%;
}

.topBcgEnd {
    background-color: #31E1F7;
    width: 20%;
}

.topBcgform {
    background-color: #31E1F7;
    width: 20%;
}

.tblWidth {
    width: 20%;
}

.table {
    border: 2px solid #8810b1;
    padding: 2px;
    text-align: center;
    width: 85%;
    margin-left: 3%;
}

.form-control {
    border: 2px solid #8810b1;
    padding: 2px;
    text-align: center;
    width: 85%;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    outline: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: box-shadow 0.3s;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.btn {
    background-color: #8810b1;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

footer {
    font-size: xx-small;
    text-align: center;
}